.main-board {
  width: 80%;
  height: 80%;
}

.main-board .dead {
  background-color: red;
}

.main-board .alive {
  background-color: green;
}

.main-board .infected {
  background-color: blue;
}

.main-board .empty {
  background-color: white;
}

.main-board rect.alive {
  fill: green;
}

.main-board rect.infected {
  fill: blue;
}

.main-board rect.dead {
  fill: red;
}

.main-board rect.empty {
  fill: white;
}