.main-board > tbody > tr > td {
  border-style: solid;
  border-size: 1px;
  border-color: #000;
  width: 20px;
  height: 28px;
}

.main-board .dead {
  background-color: red;
}

.main-board .alive {
  background-color: green;
}

.main-board .infected {
  background-color: blue;
}

.main-board .empty {
  background-color: white;
}